@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0; 
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 10px;
}

a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}