/* Add CSS Styling */
.odd {
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#number-two {
    color: #0000ff;
    font-size: 36px;
}

.bigfont {
    font-size: 24px;
}

#number-four {
    background-color: #90ee90;
    font-weight: bold;
    font-size: 24px;
}