/* Add CSS Styling */
.btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.btn.black-btn {
    background-color: #000000;
    color: #ffffff;
}

.btn.yellow-btn {
    background-color: #ffff00;
}