/* Add CSS Styling */
.black-btn,
.yellow-btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.black-btn {
    background-color: #000000;
    color: #ffffff;
}

.yellow-btn {
    background-color: #ffff00;
}